<div class="row">
  <div class="col-md-4">
    <div class="admin-form">
      <h3>Exhibition Centers</h3>
      <p>Manage your exhibition centers and their rooms</p>
      <%= link_to 'Manage Centers', admin_exhibition_centers_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="admin-form">
      <h3>Exhibitions</h3>
      <p>Manage current and upcoming exhibitions</p>
      <%= link_to 'Manage Exhibitions', admin_exhibitions_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="admin-form">
      <h3>Exhibition Types</h3>
      <p>Manage exhibition categories and types</p>
      <%= link_to 'Manage Types', admin_exhibition_types_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
